form {
    margin: 1rem;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
}

section.input span {
    color: red;
}

ion-img {
    height: 220px;
    width: 220px;
    justify-self: center;
}

section.controls {
    justify-self: center;
}